@import "../../../../styles/variables";
@import "../../../../styles/mixin";

.searchWrapper {
    @include flexBox(null, space-between, null, null);
    @include boxModel(500px, 50px, null, null, null) {
        border-bottom: 3px solid $base-main-color;
        border-radius: 6px;
    }

    box-shadow: 1px 1px 2px 1px $light-mode-primary-shadow-color,
        -1px -1px 2px 1px $light-mode-primary-shadow-color;

    .searchButton {
        all: unset;
        @include flexBox(null, center, center, null);
        @include boxModel(10%, 100%, null, null, null);
        cursor: pointer;
    }

    .searchField {
        @include textStyles(1.1rem, null, $light-mode-secondary-text-color);
        @include boxModel(89%, 100%, null, null, null) {
            border: none;
            outline: none;
        }
    }

    .searchField::placeholder {
        @include textStyles(1.1rem, null, $light-mode-secondary-text-color);
    }

    .searchIcon {
        @include textStyles(1.3rem, null, $light-mode-secondary-text-color);
    }

    @include media("S", false) {
        width: 60%;
    }

    @include media("XS", false) {
        width: 65%;
        height: 40px;

        .searchButton {
            width: 15%;
        }

        .searchField {
            width: 84%;
            font-size: 0.8rem;
        }

        .searchField::placeholder {
            font-size: 0.8rem;
        }

        .searchIcon {
            font-size: 1rem;
        }
    }
}

[data-theme="dark"] {
    .searchWrapper , .searchField {
        background-color: $dark-mode-primary-bg-color;
    }

    .searchWrapper {
        box-shadow: none;
    }

    .searchField , .searchField::placeholder , .searchIcon {
        color: $dark-mode-secondary-text-color;
    }
}