@import "./variables";

@mixin media($size, $hasInterval) {
    @if ($size == "XS") {
        @media (max-width: $extra-small) {
            @content;
        }
    } @else if ($size == "S") {
        @if ($hasInterval) {
            @media (max-width: $small) and (min-width: ($extra-small + 1)) {
                @content;
            }
        } @else {
            @media (max-width: $small) {
                @content;
            }
        }
    } @else if ($size == "M") {
        @if ($hasInterval) {
            @media (max-width: $medium) and (min-width: ($small + 1)) {
                @content;
            }
        } @else {
            @media (max-width: $medium) {
                @content;
            }
        }
    } @else if ($size == "L") {
        @if ($hasInterval) {
            @media (max-width: $large) and (min-width: ($medium + 1)) {
                @content;
            }
        } @else {
            @media (max-width: $large) {
                @content;
            }
        }
    } @else if ($size == "XL") {
        @media (min-width: ($large - 1)) {
            @content;
        }
    }
}

@mixin textStyles($fontSize, $fontWeight, $color) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    @content;
}

@mixin flexBox($flexDir, $justifyContent, $alignItems, $gap) {
    display: flex;
    flex-direction: $flexDir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
    @content;
}

@mixin boxModel($width, $height, $padding, $margin, $bgColor) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
    background-color: $bgColor;
    @content;
}

@mixin registerField($forPlaceholder) {
    @if ($forPlaceholder) {
        color: $slate-600;
    } @else {
        height: 38px;
        padding: 0 8px;
        font-size: 1rem;
        outline: none;
        border: 1px solid $gray-300;
        border-radius: 10px;
        color: $slate-600;
    }
}

@mixin fieldErrorMessage($bottom) {
    position: absolute;
    bottom: $bottom;
    margin-right: 4px;
    font-size: 0.7rem;
    color: $red-500;
    opacity: 0;
}

@mixin commonButton ($width , $height) {
    width: $width;
    height: $height;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: $light-mode-primary-bg-color;
    background-color: $dark-mode-primary-bg-color;
}