// colors
$base-main-color: #14b8a6;
$base-red-500-color: #ef4444;
$light-mode-primary-bg-color: #fff;
$light-mode-secondary-bg-color: #e2e8f0;
$light-mode-primary-text-color: #0f172a;
$light-mode-secondary-text-color: #334155;
$dark-mode-primary-bg-color: #0f172a; 
$dark-mode-secondary-bg-color: #334155; 
$dark-mode-primary-text-color: #fff;
$dark-mode-secondary-text-color: #e2e8f0;

// devices size
$extra-small: 576px;
$small: 768px;
$medium: 1024px;
$large: 1440;