@import '../../../../styles/variables';
@import '../../../../styles/mixin';

.placesContainer {
    @include flexBox(column , null , flex-start , 10px);
    width: 100%;
    padding: 0 150px;

    .title {
        @include textStyles(18px , null , $light-mode-secondary-text-color);
    }

    .mySwiper {
        width: 100%;
        height: 220px;
    }

    .swiperSlide {
        width: 200px;
    }

    .slide {
        position: relative;
        user-select: none;
        @include flexBox(column , space-between , flex-start , null);
        @include boxModel(100% , 100% , 0px , null , null);
    }

    .slideOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #a5a5a552;
    }

    .slideImage {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .slideTitle {
        @include textStyles(16px , 500 , $dark-mode-primary-text-color);
        position: absolute;
        bottom: 6%;
        right: 6%;
    }

    @include media('M' , false) {
        padding: 0 100px;
    }

    @include media('S' , false) {
        padding: 0 80px;
    }

    @include media('XS' , false) {
        padding: 0 30px;

        .title {
            font-size: 14px;
        }
    }
}

[data-theme="dark"] {
    .title {
        color: $dark-mode-secondary-text-color;
    }
}