@import '../../../../styles/mixin';
@import '../../../../styles/variables';

.advertisementContainer {
    @include flexBox(column , null , flex-start , 50px);
    padding: 0 150px;
    margin-bottom: 80px;

    @include media('M' , false) {
        padding: 0 100px;
    }

    @include media('S' , false) {
        padding: 0 80px;
    }

    @include media('XS' , false) {
        padding: 0 30px;
    }
}