@import "../../../../styles/_variables";
@import "../../../../styles/mixin";

.navbarContainer {
    @include flexBox(null, space-between, center, null);
    @include boxModel(100%, 80px, 0 2rem, null, $light-mode-primary-bg-color);
    position: sticky;
    top: 0;
    z-index: 10;
    
    .leftSide {
        @include flexBox(row, center , center, 20px);
    }

    .navigateContainer {
        @include flexBox(null, null, center, 6px);
        text-decoration: none;
    }

    .navigateIcon {
        @include textStyles(1.2rem, null, $light-mode-secondary-text-color);
    }

    .navigate {
        @include textStyles(1rem, null, $light-mode-secondary-text-color);
    }

    .avatar , .themeContainr {
        @include flexBox(row , center , center , null);
        @include boxModel(35px , 35px , null , null , $light-mode-primary-shadow-color);
        position: relative;
        border-radius: 50%;
    }

    .fakeContainer {
        @include boxModel(100% , 100% , null , null , #ff000000);
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .avatarIcon , .themeIcon {
        color: $gray-400;
    }

    .themeContainr {
        position: relative;
    }

    @include media("XS", false) {
        padding: 0 1rem;

        .navigateIcon {
            font-size: 1rem;
        }

        .navigate {
            font-size: 0.8rem;
        }
    }

    @include media("S", false) {
        .avatar , .navigateContainer {
            display: none;
        }
    }
}

[data-theme="dark"] { 
    .navbarContainer {
        background-color: $dark-mode-primary-bg-color;
        box-shadow: $dark-mode-primary-box-shadow;
    }

    .avatar , .themeContainr {
        background-color: $dark-mode-secondary-bg-color;
    }

    .avatarIcon , .themeIcon {
        color: $dark-mode-secondary-text-color;
    }

    .navigateIcon , .navigate {
        color: $dark-mode-secondary-text-color;
    }
}