@import "../../../../styles/_variables";
@import "../../../../styles/mixin";

.navbarContainer {
    @include flexBox(null, space-around, center, null);
    @include boxModel(100%, 80px, 0 1rem, null, $light-mode-primary-bg-color);
    box-shadow: $light-mode-primary-box-shadow;

    .navigateContainer {
        @include flexBox(null, null, center, 6px);
        text-decoration: none;
    }

    .navigateIcon {
        @include textStyles(1.2rem, null, $light-mode-secondary-text-color);
    }

    .navigate {
        @include textStyles(1rem, null, $light-mode-secondary-text-color);
    }

    @include media("XS", false) {
        justify-content: space-between;

        .navigateIcon {
            font-size: 1rem;
        }

        .navigate {
            font-size: 0.8rem;
        }
    }
}
