@import "../../../../styles/mixin";
@import "../../../../styles/variables";

.formContainer {
    @include boxModel(
        450px,
        auto,
        12px 12px 18px 12px,
        50px auto,
        transparent
    ) {
        border-radius: 0.8rem;
        box-shadow: $light-mode-secondary-box-shadow;
    }

    @include flexBox(column, null, null, null);

    .header {
        @include flexBox(row , null , center , 20px);
        margin: 0 auto 20px auto;
    }

    .villasanIcon {
        width: fit-content;
        cursor: pointer;
    }

    .title {
        color: $light-mode-primary-text-color;
    }

    .fields {
        @include flexBox(column, null, center, 30px);
        margin-bottom: 35px;
    }

    .fieldContainer {
        position: relative;
        width: 100%;
    }

    .fieldLable {
        margin-right: 4px;
        color: $light-mode-primary-text-color;
    }

    .field {
        width: 100%;
        margin-top: 6px;
        @include registerField(false);
    }
    
    .passwordWrapper {
        margin-top: 6px;
        position: relative;
    }

    .passwordWrapper .field {
        margin-top: 0;
    }

    .eyeIcon {
        position: absolute;
        top: 50%;
        left: 12px;
        cursor: pointer;
        transform: translateY(-50%);
        color: $slate-600
    }

    .fieldErrorMessage {
        @include fieldErrorMessage(-22px);
    }

    .fieldErrorMessage.active {
        opacity: 1;
    }

    .rules {
        user-select: none;
        font-size: 0.9rem;
        margin-bottom: 6px;
        color: $slate-500;
    }

    .rulesLink {
        color: $blue-800;
    }

    .entrance {
        @include textStyles(0.8rem, null, $slate-500);
        @include flexBox(row, null, center, 5px);
        user-select: none;
        margin-bottom: 20px;
    }

    .entranceLink {
        text-decoration: none;
        color: $blue-800;
    }

    .registerButton {
        @include commonButton(100%, 42px);
    }

    @include media("XS", false) {
        width: 80%;

        .title {
            font-size: 1.5rem;
        }

        .fieldLable,
        .field,
        .rules {
            font-size: 0.8rem;
        }
    }
}