.formContainer {
  width: 450px;
  height: auto;
  padding: 12px 12px 18px 12px;
  margin: 50px auto;
  background-color: transparent;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 3px 1px #f2f2f2, -1px -1px 3px 1px #f2f2f2;
  display: flex;
  flex-direction: column;
}
.formContainer .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 auto 20px auto;
}
.formContainer .villasanIcon {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.formContainer .title {
  color: #181c25;
}
.formContainer .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 35px;
}
.formContainer .fieldContainer {
  position: relative;
  width: 100%;
}
.formContainer .fieldLable {
  margin-right: 4px;
  color: #181c25;
}
.formContainer .field {
  width: 100%;
  margin-top: 6px;
  height: 38px;
  padding: 0 8px;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  color: #535b66;
}
.formContainer .passwordWrapper {
  margin-top: 6px;
  position: relative;
}
.formContainer .passwordWrapper .field {
  margin-top: 0;
}
.formContainer .eyeIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  cursor: pointer;
  transform: translateY(-50%);
  color: #475569;
}
.formContainer .fieldErrorMessage {
  position: absolute;
  bottom: -22px;
  margin-right: 4px;
  font-size: 0.7rem;
  color: #ef4444;
  opacity: 0;
}
.formContainer .fieldErrorMessage.active {
  opacity: 1;
}
.formContainer .rules {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #64748b;
}
.formContainer .rulesLink {
  color: #1e40af;
}
.formContainer .entrance {
  font-size: 0.8rem;
  color: #64748b;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}
.formContainer .entranceLink {
  text-decoration: none;
  color: #1e40af;
}
.formContainer .registerButton {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 100%;
  height: 42px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  background-color: #181c25;
}
@media (max-width: 576px) {
  .formContainer {
    width: 80%;
  }
  .formContainer .title {
    font-size: 1.5rem;
  }
  .formContainer .fieldLable,
  .formContainer .field,
  .formContainer .rules {
    font-size: 0.8rem;
  }
}

[data-theme=dark] .formContainer {
  box-shadow: 1px 1px 6px 2px #202531, -1px -1px 6px 2px #202531;
}
[data-theme=dark] .formContainer .title, [data-theme=dark] .formContainer .fieldLable {
  color: #d7d7d7;
}
[data-theme=dark] .formContainer .field {
  height: 38px;
  padding: 0 8px;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  color: #d7d7d7;
}
[data-theme=dark] .formContainer .eyeIcon, [data-theme=dark] .formContainer .rules, [data-theme=dark] .formContainer .entrance {
  color: #d7d7d7;
}
[data-theme=dark] .formContainer .rulesLink, [data-theme=dark] .formContainer .entranceLink {
  color: #10b981;
}
[data-theme=dark] .formContainer .registerButton {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 100%;
  height: 42px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #181c25;
  background-color: #9ca3af;
}/*# sourceMappingURL=Form.module.css.map */