@font-face {
    font-family: vazir;
    src: url('./assets/fonts/vazir/Vazir.ttf') format('ttf'),
    url('./assets/fonts/vazir/Vazir.eot') format('eot'),
    url('./assets/fonts/vazir/Vazir.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'vazir' , Arial, Helvetica, sans-serif;
}